# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/
myenv/
django-env/

# Django
db.sqlite3

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Static files
staticfiles/

# OS
.DS_Store
Thumbs.db